.main-container {
    background-image: url('../../public/background-details.jfif');
    background-size: cover; /* Ajusta la imagen para cubrir toda el área del cuerpo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

label{
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    .vs{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .titulo{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .img-logo{
        display: none;
    }
  }